<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.8.3.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <title>Gestión de Equipos</title>
</head>
<style>
    #footer {
        position: fixed;
        bottom: 0;
        width: 100%;
        margin: auto;
        text-align: right;
    }
    #tblList thead{
        background: #2dc4c3;
        color: #9bd61f;
        width:100%;
    }
    button{
        background-color: #1726eb;
    }
</style>
<body>
<div class="page-header">
    <h1>Gestión de Pokemones <a href="/examen/eliminarCookieSeg"><button class="btn">Salir</button></a></h1>
</div>
<div class="form-group">
    <div class="col-lg-offset-2 col-sm-4">
        <a href="/api/pokemon/crearPaginaPokemon"><button class="btn">Crear Pokemon</button></a>
    </div>
    <div class="col-lg-offset-2 col-sm-4">
        <a href="/api/entrenador/entrenadores"><button class="btn">Cancelar Pokemon</button></a>
    </div>
    <br>
    <br>
    <div class="col-lg-offset-4 col-sm-8">
        <form action="/api/pokemon/buscarPokemon" method="get">
            <label for="nombrePokemonId"></label>
            <input type="text" id="nombrePokemonId" name="nombrePokemon" placeholder="Buscar" style="width: 50%">
            <button type="submit" class="btn">Buscar</button>
        </form>
    </div>
</div>
<div class="container">
    <table class="table" id="makeEditable">
        <thead>
        <tr>
            <th hidden="true">ID</th>
            <th>Número de Pokemon</th>
            <th>Nombre del Pokemon</th>
            <th>Poder Especial Uno</th>
            <th>Poder Especial Dos</th>
            <th>Fecha de Captura</th>
            <th>Nivel</th>
        </tr>
        </thead>
        <tbody>
        <% arregloPokemon.forEach((pokemon)=>{ %>
        <tr class="info">
            <td> <%=pokemon.numeroPokemon%> </td>
            <td> <%=pokemon.nombrePokemon%> </td>
            <td> <%=pokemon.poderEspecialUno%> </td>
            <td> <%=pokemon.poderEspecialDos%> </td>
            <td> <%=pokemon.fechaCaptura%> </td>
            <td> <%=pokemon.nivel%> </td>
            <td>
                <form action="/api/pokemon/eliminarPokemon" method="post">
                    <label for="id" hidden="true">Id</label>
                    <input type="number" hidden="true" id="id" name="id" value="<%=pokemon.id%>">
                    <button type="submit" class="btn">Eliminar</button>
                </form>
            </td>
        </tr>
        <% })%>
        </tbody>
    </table>
</div>
</body>
</html>
